@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100% auto;
}


.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho{
    height: 550px;
}

.uno{
     
	background-image: url("../images/1.png");
	background-repeat: no-repeat;
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	
}

.dos{
    
    background-image: url("../images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.tres{
    background-image: url("../images/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cuatro{
    background-image: url("../images/4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cinco{
    background-image: url("../images/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.seis{
    background-image: url("../images/6.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.siete{
    background-image: url("../images/7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.ocho{
    background-image: url("../images/8.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.personaje{
    position: fixed;
    z-index: 1;
    background-image: url("../images/Galia.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 275%;
    width: 20%;
    height: 100%;
    top: 0;
    left: 40%;
}

.info1, .info2, .info3, .info4, .info5, .info6, .info7, .info8{
    width: 20%;
    background: rgba(231,205,240,0.80);
    padding: 15px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 16px;
	line-height: 20px;
	border-radius: 20px 20px 20px 20px;
}

.info1{
    position: absolute;
    top:100px;
    left: 10%;
	
}

.info2{
    position: absolute;
    top:650px;
    right: 10%;
}

.info3{
    position: absolute;
    top:1200px;
    left: 10%;
}

.info4{
    position: absolute;
    top:1800px;
    right: 10%;
}

.info5{
    position: absolute;
    top:2300px;
    left: 10%;
}

.info6{
    position: absolute;
    top:2850px;
   right: 10%;
}
.info7{
    position: absolute;
    top:3450px;
    left: 10%;
}

.info8{
    position: absolute;
    top:3920px;
   right: 10%;
}
.iso{
    width: 0;
    height: 0;
    text-indent: -9999px;
    border-top: 20px solid #000;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    margin-left: auto;
    margin-right: auto;
}

.isoContenedor{
    position: absolute;
    bottom: 5%;
    width: 100%;
}
















